ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 15px;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
    border-radius: 15px;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(199, 19, 19);
  }
  
  .active {
    background-color: #5daa04;
  }

  #clock {
    font-size: 175px;
    width: 900px;
    margin: 130px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
}

#info{
    font-size:30px;
    width: 400px;
    margin:10px;
    margin-left: 350px;
    text-decoration: none;
    padding: 100;
    display: block;
    text-align: center;
    border:3px solid#5daa04;
    border-radius: 15px;
}

#bottom{
    margin-top: 30px;
    border: solid 10px ;
    border-radius: 15px;
}